/*footer*/
footer {
background: #243c4f;
padding: 60px 0; }
footer p {
font-size: 14px;
color: rgba(255, 255, 255, 0.6); }
footer a{
color: #34acdc;
}
footer a:hover{
color: #34acdc;
}
footer .footer-title {
position: relative;
font-size: 18px;
text-transform: uppercase;
color: white; }
footer .footer-title:after {
content: '';
display: block;
width: 60px;
height: 1px;
background: #34acdc;
margin-top: 8px; }
footer .right-border {
border-right: 1px solid rgba(255, 255, 255, 0.1); }
footer .left-border {
border-left: 1px solid rgba(255, 255, 255, 0.1); }
@media (max-width: 991px) {
footer .copyright {
border-top: 1px solid rgba(255, 255, 255, 0.1);
margin-top: 40px;
text-align: center; }
footer .right-border {
border-right: none; } }
@media (max-width: 767px) {
footer .right-border {
border-right: none; }
footer .left-border {
border-left: none; }
footer .navigation {
margin-top: 40px;
border-top: 1px solid white; } }
footer .footer-about {
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
padding-bottom: 40px; }
footer .contact-info .single {
margin: 15px 0; }
footer .contact-info .single i {
display: block;
float: left;
color: #34acdc;
margin-right: 10px;
line-height: 22px; }
footer .contact-info .single p {
margin: 0;
padding: 0;
display: block;
overflow: hidden; }
footer .social-icon {
margin-top: 40px; }
footer .social-icon li a {
display: block;
width: 32px;
height: 32px;
margin-right: 5px;
text-align: center;
border: 1px solid rgba(255, 255, 255, 0.1);
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg); }
footer .social-icon li a:hover {
border-color: #34acdc;
color: #34acdc; }
footer .social-icon li a i {
line-height: 32px;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg); }
footer .navigation li a {
color: rgba(255, 255, 255, 0.6);
text-transform: uppercase;
line-height: 30px;
text-decoration: none; }
footer .navigation li a:hover {
color: #34acdc; }
footer .copyright {
padding-top: 40px; }
